---
const target = './en/';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <title>{{PROJECT_NAME}}</title>
    <script is:inline>
      window.location.replace('./en/');
    </script>
  </head>
  <body>
    <a href={target}>Open {{PROJECT_NAME}}</a>
  </body>
</html>
